# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet
*.nupkg
packages/
*.snupkg

# DLLs
*.dll
*.exe
*.pdb

# Cache
*.cache
*.log

# Publish
wwwroot/staticwebassets/